<!--The content below is only a placeholder and can be replaced.-->
<body>
    <header>
        <div class="container-fluid">
            <img src="../assets/images/banner1.png" alt="">
            <div class="container">
                <div class="logo-menu">
                    <div class="logo">
                        <img src="../assets/images/logo.png" alt="">
                    </div>
                    <div class="menu">
                        <p><a href="#">HOME</a></p>
                        <p><a href="#">ABOUT</a></p>
                        <p><a href="#">PRICE</a></p>
                        <p><a href="#">TESTIMONIALS</a></p>
                        <p><a href="#">CONTACT</a></p>
                    </div>
                    <div class="mobile-menu">
                        <label for="show-menu" class="show-menu">
                            <div class="lines"></div>
                        </label>
                        <input type="checkbox" id="show-menu">
                            <ul id="menu">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">PRICE</a></li>
                            <li><a href="#">TESTIMONIALS</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="about-us">
                <div class="about-us-left">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, libero voluptas iusto quo illum quam possimus provident.</p>
                </div>
                <div class="about-us-right">
                    <img src="../assets/images/flower.png" alt="">
                </div>
            </div>
            <div class="about-us-services">
                <div class="sevice-detail">
                    <div class="row">
                        <div class="img-sevice col-3">
                            <img src="../assets/images/comb.png" alt="">
                        </div>
                        <div class="content-service col-9">
                            <h3>SHOWER SERVICES</h3>
                            <p>Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium.      </p>
                        </div>
                    </div>
                </div>
                <div class="sevice-detail">
                    <div class="row">
                        <div class="img-sevice col-3">
                            <img src="../assets/images/cup.png" alt="">
                        </div>
                        <div class="content-service col-9">
                            <h3>FOOT TREATMENTS </h3>
                            <p>Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.      </p>
                        </div>
                    </div>
                </div>
                <div class="sevice-detail">
                    <div class="row">
                        <div class="img-sevice col-3">
                            <img src="../assets/images/foot.png" alt="">
                        </div>
                        <div class="content-service col-9">
                            <h3>INTERNAL BEAUTIFICATION </h3>
                            <p>Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.      </p>
                        </div>
                    </div>
                </div>
                <div class="sevice-detail">
                    <div class="row">
                        <div class="img-sevice col-3">
                            <img src="../assets/images/comb.png" alt="">
                        </div>
                        <div class="content-service col-9">
                            <h3>YOGA & MEDITATION </h3>
                            <p>Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.      </p>
                        </div>
                    </div>
                </div>
                <div class="sevice-detail">
                    <div class="row">
                        <div class="img-sevice col-3">
                            <img src="../assets/images/yoga.png" alt="">
                        </div>
                        <div class="content-service col-9">
                            <h3>HAIR DRESSING </h3>
                            <p>Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.      </p>
                        </div>
                    </div>
                </div>
                <div class="sevice-detail">
                    <div class="row">
                        <div class="img-sevice col-3">
                            <img src="../assets/images/cup.png" alt="">
                        </div>
                        <div class="content-service col-9">
                            <h3>HERBAL PEDICURE </h3>
                            <p>Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.      </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="beauty-service">
                <div class="introduce">
                    <div class="banner">
                        <img src="../assets/images/foot-img.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Beautiful service</h3>
                        <p>Lorem ip: dolor sỉt amet, lipisicing elit. Ullam cupidii libero pariatur aliquam vitae deserunt esse assumenda, tenetur veritatis, nihil consectetur facilis!</p>
                    </div>
                </div>
                <div class="report">
                    <div class="item-report">
                        <img src="../assets/images/leaf.png" alt="">
                        <h1>21</h1>
                        <p>SPA BRANCHES</p>
                    </div>
                    <div class="item-report">
                        <img src="../assets/images/head.png" alt="">
                        <h1>8514</h1>
                        <p>EMLOYEES</p>
                    </div>
                    <div class="item-report">
                        <img src="../assets/images/yoga2.png" alt="">
                        <h1>21</h1>
                        <p>HAPPY CLIENTS</p>
                    </div>
                </div>
                <div class="image-spa">
                    <div class="img"><img src="../assets/images/img5.png" alt=""></div>
                    <div class="img"><img src="../assets/images/img6.png" alt=""></div>
                    <div class="img"><img src="../assets/images/img7.png" alt=""></div>
                </div>
                <div class="more-service">
                    <div class="item-service">
                        <p class="title">BEAUTY.</p>
                        <p class="describe">Your Property in Good Hands</p>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officiis eum suscipit officia modi autem fuga odio, animi mỉnus cumque.
                        </p>
                        <p><a href="#">READ MORE</a></p>
                    </div>
                    <div class="item-service">
                        <p class="title">SPA.</p>
                        <p class="describe">Your Property in Good Hands</p>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officiis eum suscipit officia modi autem fuga odio, animi mỉnus cumque.
                        </p>
                        <p><a href="#">READ MORE</a></p>
                    </div>
                    <div class="item-service">
                        <p class="title">RELAX.</p>
                        <p class="describe">Your Property in Good Hands</p>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officiis eum suscipit officia modi autem fuga odio, animi mỉnus cumque.
                        </p>
                        <p><a href="#">READ MORE</a></p>
                    </div>
                </div>
            </div>
            <div class="price-our">
                <div class="discount">
                    <p>Book your visit online and save upto 25% Discount</p>
                </div>
                <div class="price">
                    <p class="title">Our Price</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officiis eum suscipit officia modi autem fuga odio, animi mỉnus cumque.</p>
                    <div class="list-buttom">
                        <p><a href="#" class="current">Spa Therapy</a></p>
                        <p><a href="#">Beauty Facial</a></p>
                        <p><a href="#">Bpdy Wrap</a></p>
                        <p><a href="#">Body Scrubs</a></p>
                    </div>
                </div>
                <div class="price-service">
                    <div class="service">
                        <div class="name-price">
                            <p class="name">Swedish Massage</p>
                            <p class="dot">...........................</p>
                            <p class="price"> $39</p>
                        </div>
                        <p class="content">Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.</p>
                    </div>
                    <div class="service">
                        <div class="name-price">
                            <p class="name">Full Body Massage</p>
                            <p class="dot">.........................</p>
                            <p class="price"> $42</p>
                        </div>
                        <p class="content">Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.</p>
                    </div>
                    <div class="service">
                        <div class="name-price">
                            <p class="name">Foot Massage</p>
                            <p class="dot">...............................</p>
                            <p class="price"> $29</p>
                        </div>
                        <p class="content">Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.</p>
                    </div>
                    <div class="service">
                        <div class="name-price">
                            <p class="name">Choclate Massage</p>
                            <p class="dot">..........................</p>
                            <p class="price"> $17</p>
                        </div>
                        <p class="content">Lorem ipsum dolor sit amet,consectetur Facere aliquam itaque quia recusandae, Velit id facilis odit aliquid laudantium. adipisicing elit.</p>
                    </div>
                </div>
                <div class="banner-service">
                    <img src="../assets/images/banner2.png" alt="">
                </div>
            </div>

            <div class="slider-wrapper">
                <div class="slider">
                    <input type="radio" name="slider" class="trigger" id="one" checked="checked" />
                    <div class="slide">
                        <figure class="slide-figure">
                            <img class="slide-img" src="../assets/images/banner3.png" />
                            <figcaption class="slide-caption">
                                <p class="title">Festimonials</p>
                                <p class="content">"Medicine; experence in the field climate change achieve voice public-privite partnership process our ambitions, Sanitation."</p>
                            </figcaption>
                        </figure>
                    </div>
                    <input type="radio" name="slider" class="trigger" id="two" />
                    <div class="slide">
                        <figure class="slide-figure">
                            <img class="slide-img" src="../assets/images/banner2.png" />
                            <figcaption class="slide-caption"><p></p></figcaption>
                        </figure>
                    </div>
                    <input type="radio" name="slider" class="trigger" id="three" />
                    <div class="slide">
                        <figure class="slide-figure">
                            <img class="slide-img" src="../assets/images/banner3.png" />
                            <figcaption class="slide-caption"><p></p></figcaption>
                        </figure>
                    </div>
                    <ul class="slider-nav">
                        <li class="slider-nav__item"><label class="slider-nav__label" for="one">1</label></li>
                        <li class="slider-nav__item"><label class="slider-nav__label" for="two">2</label></li>
                        <li class="slider-nav__item"><label class="slider-nav__label" for="three">3</label></li>
                    </ul>
                </div>
                
            </div>

            <div class="send-message">
                <div class="left">
                    <p>Reserve Now</p>
                    <form action="#" class="form-send">
                        <div class="name">
                            <span>NAME *</span>
                            <input type="text" name="name">
                        </div>
                        <div class="phone">
                            <span>PHONE</span>
                            <input type="text" name="phone">
                        </div>
                        <div class="email">
                            <span>EMAIL *</span>
                            <input type="email" name="email">
                        </div>
                        <div class="mess">
                            <span>MESSAGE *</span>
                            <textarea name="message" rows="5"></textarea>
                        </div>
                        <button type="submit">SEND MESSAGE</button>
                    </form>
                </div>
                <div class="right">
                    <img src="../assets/images/img8.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <header>
        <div class="item-header">
            <div class="address-contact">
                <div class="adress">
                    <p class="title">Headquarters:</p>
                    <p class="content">795 Folsom Ave, Suite 600</p>
                    <p class="content">San Francisco, CA 94107</p>
                </div>
                <div class="contact">
                    <p class="title">Contact:</p>
                    <p class="content"><strong>Phone: </strong>(91) 8547 632521</p>
                    <p class="content"><strong>Fax: </strong>(91) 11 4752 1433</p>
                    <p class="content"><strong>Email: </strong>info@canvas.com</p>
                </div>
            </div>
            <div class="link">
                <div class="icon-link">
                    <a href="#"><img src="../assets/images/fb.png" alt=""></a>
                    <a href="#"><img src="../assets/images/git.png" alt=""></a>
                    <a href="#"><img src="../assets/images/twitter.png" alt=""></a>
                    <a href="#"><img src="../assets/images/yahoo.png" alt=""></a>
                    <a href="#"><img src="../assets/images/google.png" alt=""></a>
                    <a href="#"><img src="../assets/images/fb.png" alt=""></a>
                    <a href="#"><img src="../assets/images/yahoo.png" alt=""></a>
                    <a href="#"><img src="../assets/images/twitter.png" alt=""></a>
                </div>
                <p class="copy-right">2014 All Rights Reserved by Canvas Inc</p>
            </div>
        </div>
    </header>
</body>
