$backgroundColor: #f5f5f5;
$textColor: #8a8a8a;
$titleColor: #0ca2e7;

@import "../scss/layout/footer/footer.scss";

@import "../scss/layout/main/about-us.scss";
@import "../scss/layout/main/services.scss";
@import "../scss/layout/main/price.scss";
@import "../scss/layout/main/slideshow.scss";
@import "../scss/layout/main/send-message.scss";

@import "../scss/layout/header/header.scss";